@import '../style/variables.scss';

footer {
    background-color: $footerbackground;
    height: 100px;
    display: flex;
    color: $footerFontColor;
    padding-left: 20px;
    p{
        padding-top:50px;
        padding-left:20%;
    }
    #topBtn {
        margin-left:20%;
        margin-top:30px;
        margin-right: 5%;
        width:50px;
        color:black;
        background-color: $topButtonColor;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        box-shadow: none;
    }
    #topBtn:hover {
        background-color: $footerbackground;
        color: $footerFontColor;
    }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    footer {
        font-size: 16px;
        #topBtn {
            margin-left:15%;
        }
        p{
            padding-top: 45px;
            padding-left: 10%;
            font-size: 12px;
        }
    }
}

/* Small Screens */
@media (max-width:599px) {
    footer {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        height: auto;
        #topBtn {
            margin-left:43%;
            margin-bottom: 10px;
        }
        p{
            padding-left: 10%;
            font-size: 12px;
            padding-top: 0;
        }
    }
}