$fontTitle: 'Lobster', cursive;
$fontPlaceholder: 'Patrick Hand', cursive;
$fontButton: 'Lobster', cursive;
$footerbackground:black;
$footerFontColor:white;
$topButtonColor:gray;
$buttonColor:#a2d2ff;