<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trip Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = imgBox>
            <img src="../img/weather.jpg" alt="Weather">
        </div>
        <div id = "app">
            <div class ="holder headline">
                <h1>Travel Planner</h1>
            </div>
            <div class ="holder trip">
                <label for="trip">My trip to:</label>
                <input type="text" id="city" placeholder="Enter location">
            </div><br>
            <div class ="holder departure">
                <label for="date">Departure date:</label>
                <input type="date" class= "myInput" id="date">
            </div><br>
            <button id="generate" type = "submit"> Generate </button><br>
            <div class ="holder-entry">
                <div class = "title">Trip Information</div><br>
                <div id = "entryHolder">
                    <div id = "date"></div>
                    <div id = "temp"></div>
                    <div id = "place"></div>
                    <div id = "daystotrip"></div>
                    <div id = "placeimage"></div>
                </div>
            </div>
            <h2> Packing list</h2>
            <form>
                <input id = "item" placeholder = "New item" type = "text">
                <input id = "submit" type="submit">
            </form>
            <ul id = "packing"></ul><br>
            <button onclick="window.print()">Print this page</button>
        </div>
    <!-- <script src="../js/app.js" type="text/javascript"></script> -->
    </body>
</html>